/* --- General ---*/
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #BFBFBF;
}
a{
    text-decoration: none;
}
img {
    width: 100%;
    max-width: 100%;
}
ul{
    list-style-type: none;
    padding: 0px;
}

h1, h2, h3, h4{
    font-weight: bold;
    color: #35323E;
}
h1{
    font-size: 42px;
    letter-spacing: -0.04em;
}
h2, h3{
    font-size: 28px;
    letter-spacing: -0.02em;
}
h3{
    color: #FFFFFF;
}
h4{
    font-size: 22px;
}
.headerF{
    font-weight: bold;
    font-size: 18px;
    color: FFF;
}
.bodycopy{
    font-size: 18px;
}
.button{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #2ACFCF;
    border: hidden;
    border-radius: 100px;
    padding: 1.25rem 2.5rem ;
}
.button:hover{
    background-color: #9BE3E2;
}
.statisticsF{
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
}
.cards{
    font-size: 16px;
    letter-spacing: -0.02em;
}
footer span{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
footer a{
    color: #FFFFFF;
}
footer a:hover{
    color: #2ACFCF;
}
footer li{
    font-size: 16px;
    letter-spacing: -0.04em;
}

/* --- Trinkets ---*/
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.center {
    text-align: center;
}
.d-none{
    display: none;
}


/* --- Header ---*/
header{
    display: flex;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    justify-content: space-between;
}
nav{
    display: flex;
}
#burguerMenu{
    font-size: 28px;
}


/* ------ Main ----- */
main {
    background-color: white;
    /* padding: 0 15px; */
    padding-left: 1.5rem;
    margin: 0 auto;
}

.row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.mtd {
    flex: 0 0 calc(100% - 1rem);
    max-width: 100%;
}

.image {
    width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: left;
}

.first {
    order: 1;
}
.second {
    order: 2;
}


/* ----- Form ---- */


input, button {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-style: none;
    height: 50px;
    font-size: 16px;
}
.shorten_box{
    margin-bottom: 1rem;
    border-radius: 0.50rem;
}
.shorten_button{
    margin-top: 1rem;
    vertical-align: center;
    border-radius: 0.50rem;
}


/* ----- Medio ------ */

.statistics {
    background-color: hsl(230, 25%, 95%);   
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.card {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
hr {
    border: none;
    border-left: 6px solid #2ACFCF;;
    height: 10vh;
    width: 1px;
    margin: 0 auto;
}

/* --- Boost ---*/
#boost{
    background-image: url("../images/bg-boost-mobile.svg");
    background-color: hsl(257, 27%, 26%);
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --- Shorten ---*/
#shorten{
    background-image: url("../images/bg-shorten-mobile.svg");
    background-color: hsl(257, 27%, 26%);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position:right top;
    height: 110px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    margin: 25px;

}

/* --- Footer ---*/
footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #232127;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logoFooter{
    padding-bottom: 3rem;
}
.col{
    padding-bottom: 1.5rem;
    display: flex;   
    flex-direction: column;
    align-items: center;
}
#lists{
    display: flex;
    flex-direction: column;
}
#socialLinks{
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
}
#socialLinks i{
    font-size: 24px;
    padding: 0 12px;
}



/* --- DESKTOP ---*/

@media only screen and (min-width: 1200px){

    /* --- General ---*/
    h1{
        font-size: 82px;
    }
    h2, h3{
        font-size: 40px;
    }
    .headerF{
        font-size: 15px;
        color: #9E9AA7;
    }
    .bodycopy{
        font-size: 22px;
    }
    input{
        font-size: 20px;
    }
    .statisticsF{
        font-size: 18px;
    }
    /* --- Trinkets ---*/
    .container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-none{
        display: none;
    }
    .lg-left{
        text-align: left;
    }
    /* --- Header ---*/
    header{
        padding: 2.5rem 10rem 1.5rem 10rem;
    }
    /* --- Main ---*/
    main {
        padding-left: 10rem;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    .mtd {
        flex: 0 0 100%;
        max-width: 45%;
        text-align: left;
    }

    .image{
        width: 900px;
        height: 500px;
        max-width: 50%;
        object-fit: cover;
        object-position: left;
        padding-top: 2rem;
    }

    .first {
        order: 2;
    }
    .second {
        order: 1;
    }
    /* --- Form ---*/
    /* --- Shorten ---*/
    #shorten{
        background-image: url("../images/bg-shorten-desktop.svg");
        background-size: cover;
        margin-top: 5%;
        margin-left: 12%;
        margin-right: 12%;
        padding-top: 2.5rem;
        padding-bottom: 1.5rem;
        border-radius: 10px;
        height:100px;
    }
    .shorten_box{
        margin-bottom: 1rem;
        width: 72%;
        margin-left: 5%;
        height: 60px;
        border-radius: 0.50rem;
    }
    .shorten_button{
        margin-top: 0rem;
        border-radius: 10px;
        width: 16%;
        border: hidden;
        margin-right: 5%;
        height: 60px;
        border-radius: 0.50rem;
    }
    form{
        display: flex;
        align-content: initial;
    }
   
    /* --- Medio ---*/
    .space-statistics {
        margin-bottom: 6rem;
    }

    .statistics {
        padding: 5rem;
        padding-bottom: 7rem;
    }

    .middle {
          
        display: flex; 
        height: 300px; /** escalerita **/
        justify-content: space-between;
    }

    .card {
        border: none;
        text-align: left;
        flex: 0 0 calc(33.333333% - 3rem);
        padding: 1rem;
        height: 200px;
        width: 370px;
    }

    .uno {
        align-self: flex-start;
    }
    .dos {
        align-self: center;
    }
    .tres {
        align-self: flex-end;
    }
    hr {
        display: flex;
        align-self: center;
        border: 4px solid #2ACFCF;;
        width: 100px;
        height: 0.1px;
        margin: 0 auto;
    }


    /* --- Boost ---*/
    #boost{
        background-image: url("../images/bg-boost-desktop.svg");
    }

    /* --- Footer ---*/
    footer{
        height: 150px;
        flex-direction: row;
        padding-top: 4.75rem;
        padding-bottom: 4.75rem;
    }
    .col{
        padding-bottom: 0;
        align-items: flex-start;
    }
    #logoFooter{
        height: 100%;
        flex-basis: 25%;
        padding-bottom: 0;
    }
    #logoFooter img{
        max-width: 150px;
    }
    #lists{
        flex-direction: row;
        flex-basis: 60%;
        justify-content: space-evenly;
    }
    #socialLinks{
        flex-basis: 15%;
        height: 100%;
    }
    #socialLinks i{
        padding: 0;
    }
}