/* --- General ---*/
body{
    margin: 0px;
}
a{
    text-decoration: none;
}
img {
    width: 100%;
    max-width: 100%;
}
ul{
    list-style-type: none;
    padding: 0px;
}

.centrado {
    text-align: center;
}

.contenedor {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* --- Trinkets ---*/
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.d-none{
    display: none;
}

@media only screen and (min-widh: 1440px){
    d-lg-block {
        display: block;
    }
    d-lg-none{
        display: none;
    }
}

/* --- Header ---*/
header{
    display: flex;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    justify-content: space-between;
}
nav{
    display: flex;
}
#burguerMenu{
    font-size: 28px;
}

/* ------ Main ----- */
main {
    background-color: aquamarine;
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.fila {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.mtd {
    flex: 0 0 calc(100% - 1rem);
    max-width: 100%;
}

.primero {
    order: 1;
}
.segundo {
    order: 2;
}

/* ----- Form ---- */

input,
button {
    display: block;
    margin: 0 auto;
}

/* ----- Medio ------ */

.medio {
    background-color: lightslategray;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.carta {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
hr {
    border: none;
    border-left: 6px solid green;
    height: 10vh;
    width: 1px;
    margin: 0 auto;
}

/* ----- Comenzar ---- */




/* --- Footer ---*/
footer{
    background-color: indianred;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col{
    display: flex;   
    flex-direction: column;
    align-items: center;
}
footer ul{
    text-align: center;
}   

